#resume {
  width: 100%;
}

h5.modal-title {
  margin: auto;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 30%;
}

.resume {
  grid-column-start: 2;
  grid-row-start: 1;

  color: whitesmoke;
  background-color: #007a00;
  border-color: black;
}
.github {
  grid-column-start: 1;
  grid-row-start: 2;

  color: whitesmoke;
  background-color: #171515;
  border-color: black;
}
.linkedin {
  grid-column-start: 2;
  grid-row-start: 2;

  color: whitesmoke;
  background-color: #0e76a8;
  border-color: black;
}
.yelp {
  grid-column-start: 3;
  grid-row-start: 2;

  color: whitesmoke;
  background-color: #c41200;
  border-color: black;
}

.resume:hover,
.github:hover,
.linkedin:hover,
.yelp:hover {
  background-color: white;
  border-color: black;
}
