/* Style the page title: */
#contact {
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  color: whitesmoke;
  text-shadow: 3px 3px 3px #000, 0 0 5px #000;
}

/* Content body with opacity background to highlight content within: */
.container {
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 10px;
  color: whitesmoke;
  width: 80%;
  margin: auto;
}

/* Make buttons each take up 50% of the container until media query below: */
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.btn {
  width: 100%;
}

/* Wrap the buttons on smaller screens for easier usage: */
@media (max-width: 465px) {
  .buttons {
    flex-flow: row wrap;
    width: 100%;
    gap: 10px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
