div.card-deck {
  margin: auto;
  padding: 20px;
  width: 90%;
}

div.card {
  cursor: pointer;
  width: 14rem;
  height: 30rem;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #c0c0c0 0%, #ffffff 74%);
  color: black;
  text-align: center;
  margin: auto;
  transition: 1s ease;
  filter: grayscale(80%);
}

div.card:hover {
  transform: scale(1.08);
  filter: none;
}

footer {
  margin-top: 290px;
  text-align: center;
  color: whitesmoke;
}
