h1 {
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12rem;
}

#nathan {
  margin-left: 5%;
}

#metens {
  margin-left: 25%;
}

h5 {
  color: whitesmoke;
  margin-left: 25%;
}

footer {
  margin-top: 350px;
  text-align: center;
  color: whitesmoke;
}
