#about {
  text-align: center;
  font-weight: bold;
  margin-top: 80px;
}

.about-me {
  width: 70%;
  margin: auto;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}

.slideshow {
  position: relative;
  margin: auto;
  width: 100%;
  height: 500px;
}

@media (max-width: 767px) {
  .slideshow {
    /* position: relative; */
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .image {
    width: 100%;
    height: 50px;
    object-fit: contain;
  }

  #prev,
  #next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 5px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.5rem;
  }

  .text {
    text-align: center;
    color: whitesmoke;
    /* background-color: rgb(0, 0, 0, 0.6); */
    background-color: rebeccapurple;
    width: 100%;
    font-size: 0.5em;
    padding: 10px;
    position: absolute;
    bottom: 0%;
  }
}

.slides {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 18px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 2rem;
}

#next {
  right: 0;
}

#prev:hover,
#next:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

.text {
  text-align: center;
  color: whitesmoke;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  font-size: 1.4em;
  padding: 10px;
  position: absolute;
  bottom: 0%;
}

/* .grid-item {
  background-color: rgb(248, 244, 226);
  border-radius: 8%;
}

.header {
  grid-area: header;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.article {
  grid-area: article;
}

img {
  grid-area: img;
  width: 100%;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.img-description {
  grid-area: img-des;
}

.gif {
  grid-area: gif;
  width: 100%;
}

@media (max-width: 414px) {
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    margin: auto;
    gap: 15px;
    grid-template-areas:
      "header"
      "img"
      "section1"
      "gif"
      "section2";
  }
}

@media (min-width: 430px) and (max-width: 530px) {
  .img {
    height: 100%;
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 2fr 6fr;
    margin: auto;
    gap: 10px;
    grid-template-areas:
      "header header"
      "img    section1"
      "gif    gif"
      "section2 section2";
  }
}

@media (min-width: 530px) and (max-width: 710px) {
  body {
    margin: auto 5% auto 5%;
  }

  .img {
    height: 100%;
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 2fr 6fr;
    margin: auto;
    gap: 10px;
    grid-template-areas:
      "header header"
      "img    section1"
      "img    gif"
      "section2 section2";
  }
}

@media (min-width: 710px) {
  body {
    margin: auto 20% auto 20%;
  }
  .section1,
  .section2 {
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 6fr 6fr;
    margin: auto;
    gap: 10px;
    grid-template-areas:
      "header header"
      "img    section1"
      "img    section2"
      "img    gif";
  }
} */
