h1 {
  text-align: center;
  font-weight: bold;
}

.about-me {
  margin: 2% 10% 5% 10%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}

/* Slideshow container */
.slideshow {
  max-width: 95%;
  position: relative;
  margin: auto;
  opacity: none;
}

/* Next & previous buttons */
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 18px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.4s ease;
}

/* Position the "next button" to the right */
#next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover,
#next:hover {
  background-color: black;
  opacity: 0.6;
}

/* Caption text */
.text {
  color: white;
  background-color: rgb(0, 0, 0, 0.6);
  /* opacity: 0.6; */
  font-size: 1.2em;
  /* padding-top: 5px; */
  padding: 10px;
  position: absolute;
  bottom: 0%;
  /* height: 15%; */
  width: 100%;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  opacity: none;
}

/* .grid-item {
  background-color: rgb(248, 244, 226);
  border-radius: 8%;
}

.header {
  grid-area: header;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.article {
  grid-area: article;
}

img {
  grid-area: img;
  width: 100%;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2;
}

.img-description {
  grid-area: img-des;
}

.gif {
  grid-area: gif;
  width: 100%;
}

@media (max-width: 414px) {
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
    margin: auto;
    gap: 15px;
    grid-template-areas:
      "header"
      "img"
      "section1"
      "gif"
      "section2";
  }
}

@media (min-width: 430px) and (max-width: 530px) {
  .img {
    height: 100%;
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 2fr 6fr;
    margin: auto;
    gap: 10px;
    grid-template-areas:
      "header header"
      "img    section1"
      "gif    gif"
      "section2 section2";
  }
}

@media (min-width: 530px) and (max-width: 710px) {
  body {
    margin: auto 5% auto 5%;
  }

  .img {
    height: 100%;
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 2fr 6fr;
    margin: auto;
    gap: 10px;
    grid-template-areas:
      "header header"
      "img    section1"
      "img    gif"
      "section2 section2";
  }
}

@media (min-width: 710px) {
  body {
    margin: auto 20% auto 20%;
  }
  .section1,
  .section2 {
  }

  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 6fr 6fr;
    margin: auto;
    gap: 10px;
    grid-template-areas:
      "header header"
      "img    section1"
      "img    section2"
      "img    gif";
  }
} */
