.navigation {
  background-color: #202020;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* pushed the navbar in front of all other elements */
}

.navigation ~ * {
  margin-top: 50px;
}

.navie {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#home-icon {
  width: 35px;
}

#home-icon:hover {
  transform: scale(1.1);
}
#home-icon:active {
  transform: scale(0.98);
}

.navie .nav-item {
  font-size: larger;
  color: #f8f8f8;
}

.navie .nav-item:hover {
  background: #f5f5f5;
  color: #000000;
}
