.navbar {
  background-color: #202020;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; /* pushed the navbar in front of all other elements */
}

.navbar ~ * {
  margin-top: 60px;
}

.navbar-toggler {
  background-color: whitesmoke;
}

#home-icon {
  width: 35px;
  margin: auto;
}

#home-icon:hover {
  transform: scale(1.1);
  color: #a9a9a9;
}

#home-icon:active {
  transform: scale(0.98);
}

.navbar .nav-item {
  padding-left: 25px;
  font-size: larger;
  color: #f8f8f8;
}

.navbar .nav-item:hover {
  color: #a9a9a9;
  transform: scale(1.01);
}

.navbar .nav-item:active {
  transform: scale(0.99);
}
